html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}


/* 一個好習慣，當遇到用float去排版各個blocks以後，在被排列物的同一層最後加上
一個div.cleardiv去消除float後遺症
精典後遺症：子div有内容，父div高度为0是因为子元素设置了 float属性的缘故。 */
.cleardiv {
  clear: both;
}

/* ------ 以上為基本設定 ------*/
/* -------- 以下開工 -------- */
/* =================== 專門為了這個personal website 拉出的common setting =================== */
h2 {
  margin-bottom: 75px;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}

/* =================== header area =================== */
header {
  width: 100%;

  /* 設定position:fixed;以後，header的高度才會長出不為0的高度，尚不知原因 */
  position: fixed;
  left: 0;
  right: 0;

  background-color: #222;
  z-index: 100;
  /* border: 5px solid green; */
}

#logo {
  display: block;
  float: left;
}

#logo img{
  max-width: 80px;
  max-height: 40px;
}

.nav {
  float: right;
}

.nav li {
  display: inline-block;

  /* [取捨-1][Mew] */
  /* 直接把用padding去拉開li-li之間,及li-牆壁之間的設定，加在.nav li的inline-block上
  這樣就可以保留讓anchor的padding=0的基本設定了 */
  padding: 10px 12px;
}

.nav li a {
  color: white;
  text-transform: capitalize;

  /* [取捨-1][https://lighthouse.alphacamp.co/lessons/117/units/507] */
  /* 把anchor設定成block型式，就可以調整anchor之間的水平間距，以及與天花板及地板的垂直間距
  但是這樣好像很矛盾?-->因為基本設定中有把諸如h1~h6+p+a都調成沒有margin跟padding */
  /* display: block; */
  /* padding: 10px 12px; */
}

/* =================== background image area =================== */
.home_bg {
  background-image: url(../images/960x514.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;

  /* [取捨-2] overlay設定position是為了與container_table放在同個位置有關
  -->尚不是很懂哪一個要relative哪一個要absolute
  -->it all relates to「層疊上下文(stacking context) & 層疊順序」 */
  /* [層疊上下文&順序]:正z-index > 定位元素 > 内联元素 > 浮动元素 > 块级元素 > border > background >负z-index */
  position: absolute;
  /* position: relative; */
}

/* [table垂直置中] */
/* [內容垂直置中table法] 配合table-cell的vertical-align，需先把total height調出來 */
.container_table {
  display: table;
  width: 100%;
  height: 100%;

  /* [取捨-2][https://lighthouse.alphacamp.co/lessons/117/units/509] */
  /* 不確定為啥要有position relative */
  /* [取捨-2] container_table設定postion原來是為了與overlay區域放在同個位置有關
  -->尚不是很懂哪一個要relative哪一個要absolute
  -->it all relates to「層疊上下文(stacking context) & 層疊順序」 */
  /* [層疊上下文&順序]:正z-index > 定位元素 > 内联元素 > 浮动元素 > 块级元素 > border > background >负z-index */
  position: relative;
  /* top: -640px; */
  /* position: absolute; */
}

/* [內容水平置中] 用txet-align: center即可  */
/* [內容垂直置中table法] 需配合table的height=100%，使用vertical-align: middle */
/* [內容垂直置中table法] 記得display要調成table-cell，此table-cell div的高度才會長出來，
                       vertical-align才會有高差可以"middle" */
/* [內容垂直置中table法] 此法的vertical-align是作用在 table_cell位於table中的垂直位置。
                      因此若把內容物跳過div.container_table_cell上，直接丟到前一層
                      div.container_table去直接用vertical-align是沒有作用的。 */
/* [內容垂直置中table法] table-cell的vertical-align只會作用在自身，對子元素設置vertical-align是沒有意義的 */
.container_table_cell {
  display: table-cell;

  /* text-align:center作用於對table_cell之內的 "h2"及social_icons */
  text-align: center;

  /* vertical-align:middle作用於table_cell本身位於table中的垂直位置 */
  vertical-align: middle;
}

.container_table_cell h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 54px;
}

.social_icons a {
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 40px;
  line-height: 40px;
  font-size: 19px;
  margin-right: 7px;
}

/* =================== 以下為about_me =================== */
.about_me {
  padding: 100px 0;
}

/* 以下h2的設定已合併至此common setting */
/* .about_me h2 {
  margin-bottom: 75px;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
} */

.col-left, .col-right {
  float: left;

  /* 不用margin而用padding去產生間隙-->都切50%，所以用margin的話會因空間不足而把col-right擠到下層 */
  width: 50%;
  padding: 0 10px;
}

.personal-info h3 {
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.personal-info p {
  color: #767676;
  line-height: 24px;
  text-align: justify;
}

.skill {
  margin: 30px auto;
}

.skill li {
  font-size: 15px;
  line-height: 35px;
  text-transform: capitalize;
}

.button-group .download_cv, .button-group .hire_me {
  display: inline-block;
}

.button-group .download_cv {
  margin-right: 18px;
}

.button-group a {
  display: block;
  color: #000;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 38px;
  text-transform: capitalize;
}

.button-group a:hover {
  background: #000;
  color: #fff;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}
